# Ignore node_modules
node_modules

# Ignore build and output directories
.nuxt
dist

# Ignore log files
*.log

# Ignore npm lock file (npm-specific)
package-lock.json

# Ignore environment variables
.env
.env.*

# Ignore any generated assets or cache folders
coverage